<h2>
  <%= @poll.title %>
</h2>
<ul id="poll">
  <% @poll.questions.each do |question| %>
    <li class="question">
      <%= link_to question.name, poll_vote_path(@poll, question), method: :put %>
      <span class="votes"><%= question.votes %></span>
    </li>
  <% end %>
</ul>

